:root{
    --primary-color:#ffff;
    --seconday-color:#0000;
}

body {
    background-color: #f2f2f2;
    padding: 0;
    margin: 0;
  }
  
  header {
    background-color: #ffff;
    color: white;
    padding: 0;
    height: 150px;
    text-align: center;
    display: flex;                /* coloca as imagens em linha */
    justify-content: left;      /* centraliza horizontalmente */
    align-items: center;          /* centraliza verticalmente */
    gap: 5px;                    /* espaço entre elas */
    padding: 25px;
  }

.caixaone{

    width: 140px;         /* largura */
    height: 40px;        /* altura */
    background-color: black; /* cor do quadrado */
    border-radius: 50px;  /* opcional: deixa as bordas arredondadas */
    display: flex;
    justify-content: center;
  }


.caixatwo{

    width: 140px;         /* largura */
    height: 40px;        /* altura */
    background-color: black; /* cor do quadrado */
    border-radius: 50px;  /* opcional: deixa as bordas arredondadas */
    display: flex;
    justify-content: center;
}

.fotoone{

    width: 150px;
    position: absolute;
    left: 47%;

}

.fototwo{

    width: 50px;
    position: absolute;
    top: 65px;
    right: 7vh;
}

.perfil{

    width: 50px;
    position: absolute;
    top: 70px;
    right: 14vh;

}

.caixaone,.caixatwo{

    padding: 15px 25px;
    border-radius: 50px;
    text-align: center;
     
}

.caixaone h3,.caixatwo h3{

font-size: 20px;
font-family: preconnect, sans-serif;
justify-content: center;
align-items: center;
display: flex;

}


  main {
    background-color: black; /* fundo da área principal */
    padding: 6.0vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .cr7principal{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  
  .texto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 250px;
    color: white;
    z-index: 1; /* menor número = fica atrás */
    font-family: "Righteous", sans-serif;

  }



  footer{

    height: 10vh;
    justify-content: left;
    align-items: center;
    display: flex;
    gap: 5px;
  }

  .escudos{

    justify-content: center;
    align-items: center;
    display: flex;
    width: 80px;
    height: auto;
    gap: 20px;
  }

  /* TABLET */
@media (max-width: 1024px)  {


main{

width: 100vh;
padding: 12vh;

}

.escudos{

  width: 65px;
}


.texto{

  font-size: 185px;

}

.cr7principal{

  display: flex;
  align-items: center;
  justify-content: ;

}
  




}